{% extends "base.html" %}
{% load static %}

{% block content %}

{% comment %} Header and first instructions {% endcomment %}
<header>
    <h1>Simulate</h1>
    <p>
        This is the workflow to explore the behaviour of PKPD models away from data.
        It's purpose is to provide an easy interface to compare different dosing regimens,
        model parameters or even model structures.
    </p>
</header>
<header>
    <h2>Step 1: Build Model</h2>
    <p>
        A model is composed of a mechanistic model, a route of administration of the drug,
        an error model and a population model. For further details on the definition and
        usage of the terms, please have a look at the documentation.
    </p>
</header>

{% comment %} Creating subtask tiles {% endcomment %}
<section class="tiles">
	<article class="model">
		<span class="image">
			<img src="{% static 'images/pic03.jpg' %}" alt="" />
		</span>
		<a href="#subtask">
			<h3>Mechanistic Model</h3>
			<div class="content">
				<p>Model the pharmacokinetic and pharmacodynamic processes.</p>
			</div>
		</a>
	</article>
	<article class="model">
		<span class="image">
			<img src="{% static 'images/pic03.jpg' %}" alt="" />
		</span>
		<a href="#subtask">
			<h3>Route of Administration</h3>
			<div class="content">
				<p>Specify the route of administration of the drug.</p>
			</div>
		</a>
	</article>
	<article class="model">
		<span class="image">
			<img src="{% static 'images/pic03.jpg' %}" alt="" />
		</span>
		<a href="#subtask">
			<h3>Error Model</h3>
			<div class="content">
				<p>Model the error of the mechanistic model.</p>
			</div>
		</a>
	</article>
    <article class="model">
		<span class="image">
			<img src="{% static 'images/pic03.jpg' %}" alt="" />
		</span>
		<a href="#subtask">
			<h3>Population Model</h3>
			<div class="content">
				<p>Model variation between individuals.</p>
			</div>
		</a>
	</article>
</section>

{% comment %} This fills the active subtask window {% endcomment %}
<div id="subtask">
    <h3>This is a place holder - Subtask is under development</h1>
</div>

{% endblock %}