# Byte-compiled / optimized / DLL files
__pycache__/

# Virtual environments
venv

# Setuptools files
*.egg-info

# vscode
.vscode

# database file (not sure yet what its good for)
db.sqlite3

# DS
.DS_Store

# static files
staticfiles
