# nginx.default

server {
    listen $PORT;
    server_name pkpdapp.herokuapp.com;

    location / {
        include proxy_params;
        proxy_pass http://unix:/run/gunicorn.socket;
    }
    location /static {
        root /pkpdapp/pkpdapp;
    }
}
