gunicorn
Django==3.1.9
django-cors-headers>=3.7.0
dpd-static-support>=0.0.5
numpy>=1.8
pandas>=1.0
whitenoise==5.0.1
docutils==0.16
python-markdown-math==0.8
pints @ git+git://github.com/pints-team/pints.git#egg=pints
myokit>=1.31
django-extensions==3.1.1
jsonfield==3.1.0
djangorestframework>=3.12.4
djoser==2.1.0
python-memcached>=1.16.0
psycopg2-binary>=2.9.1
dj-database-url>=0.5.0
python-dotenv>=0.19.0
