{% extends "base.html" %}
{% load static %}

{% block content %}
<section class="tiles">
	<article class="explore_data_style1">
		<span class="image">
			<img src="{% static 'images/pic03.jpg' %}" alt="" />
		</span>
		<a href="{% url 'generic' %}">
			<h1>PK</h1>
			<h2>Analyse pharmacokinetics</h2>
			<div class="content">
				<p>
					Perform a non-compartmental analysis (NCA) of the pharmacokinetics.
				</p>
			</div>
		</a>
	</article>
	<article class="explore_data_style1">
		<span class="image">
			<img src="{% static 'images/pic03.jpg' %}" alt="" />
		</span>
		<a href="{% url 'generic' %}">
			<h1>PD</h1>
			<h2>Analyse Pharmacodynamics</h2>
			<div class="content">
				<p>
					Perform an area under the curve estimation (AUCE) analysis of the pharmacodynamics.
				</p>
			</div>
		</a>
	</article>
</section>
{% endblock %}