{% extends "base.html" %}
{% load static %}

{% block content %}
<header>
	<h1>This is the PKPDApp, a web-based application to model the distribution and effects of drugs.</h1>
	<p>The PKPDApp is an open-source project that provides tools for modelling drug distribution and effects. To ease collaborations for drug discovery, the app puts a huge emphasis on making modelling as transparent, shareable and reproducible as possible.</p>
</header>
<section class="tiles">
	<article class="style1">
		<span class="image">
			<img src="{% static 'images/pic03.jpg' %}" alt="" />
		</span>
		<a href="{% url 'generic' %}">
			<h2>Explore Data</h2>
			<div class="content">
				<p>Visualise your population data. Stratify by dose, covariates or individual IDs, and more...</p>
			</div>
		</a>
	</article>
	<article class="style2">
		<span class="image">
			<img src="{% static 'images/pic03.jpg' %}" alt="" />
		</span>
		<a href="{% url 'generic' %}">
			<h2>Simulate</h2>
			<div class="content">
				<p>Build and compare models to explore dosing regimens and effect variations between individuals.</p>
			</div>
		</a>
	</article>
	<article class="style3">
		<span class="image">
			<img src="{% static 'images/pic03.jpg' %}" alt="" />
		</span>
		<a href="{% url 'generic' %}">
			<h2>Infer Model</h2>
			<div class="content">
				<p>Find the model that describes your data. Compare the identifiability of models and explore the potential for optimised experiments.</p>
			</div>
		</a>
	</article>
</section>
{% endblock %}