{% load markdownify %}


{% if project %}
<h3>
  Project {{project.name}}
</h3>
(<a href="{% url 'project-update' project.id %}"> Update </a>)
<p>{{project.description|markdownify}}</p>
<h4>Datasets</h4>
<ul>
{% for dataset in project.datasets.all %}
  <li>
    <b>{{dataset.name}}</b>: {{dataset.description|truncatewords:"10"}} 
    <a href={% url 'dataset-detail' dataset.id %}>
      <i class="fas fa-info-circle"></i>
    </a>
  </li>
{% empty %}
    <li>No datasets yet.</li>
{% endfor %}
(<a href="{% url 'dataset-create'%}"> Upload dataset </a>)
</ul>
<h4>PK Models</h4>
<ul>
{% for model in project.pk_models.all %}
  <li>
    <b>{{model.pharmacokinetic_model.name}}</b>:
    {{model.pharmacokinetic_model.description|truncatewords:"10"}} 
    <a href={% url 'dosed_pk_model-detail' model.id %}>
      <i class="fas fa-info-circle"></i>
    </a>
  </li>
{% empty %}
    <li>No models yet.</li>
{% endfor %}
(<a href="{% url 'dosed_pk_model-add-to-project' project.id %}"> Create model </a>)
</ul>
<h4>Protocols</h4>
<ul>
{% for protocol in project.protocols.all %}
  <li>
    <b>{{protocol.name}}</b>
    <a href={% url 'protocol-detail' protocol.id %}>
      <i class="fas fa-info-circle"></i>
    </a>
  </li>
{% empty %}
    <li>No protocols yet.</li>
{% endfor %}
(<a href="{% url 'protocol-add-to-project' project.id %}"> Create protocol</a>)
</ul>
<h4>PD Models</h4>
<ul>
{% for model in project.pd_models.all %}
  <li>
    <b>{{model.name}}</b>: {{model.description|truncatewords:"10"}} 
    <a href={% url 'pd_model-detail' model.id %}>
      <i class="fas fa-info-circle"></i>
    </a>
  </li>
{% empty %}
    <li>No models yet.</li>
{% endfor %}
(<a href="{% url 'pd_model-add-to-project' project.id %}"> Upload model </a>)
</ul>
<h4>Users</h4>
<ul>
{% for user in project.users.all %}
  <li>{{user.username}}</li>
{% empty %}
    <li>No users yet.</li>
{% endfor %}
</ul>
{% else %}
<p>No project...</p>
{% endif %}
