name: Frontend coverage

on:
  pull_request:
  push:
    branches:
      - master
      - develop
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    container:
      # Make sure to grab the latest version of the Playwright image
      # https://playwright.dev/docs/docker#pull-the-image
      image: mcr.microsoft.com/playwright:v1.58.1-noble
    defaults:
      run:
        working-directory: ./frontend-v2
    steps:
      - uses: actions/checkout@v5

      - name: Setup Node
        uses: actions/setup-node@v6
        with:
          node-version: "lts/krypton"
          cache: "yarn"
          cache-dependency-path: ./frontend-v2/yarn.lock

      - name: Install dependencies
        run: yarn install --immutable

      - name: Run frontend coverage
        run: yarn test:coverage

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v5
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}

      - uses: actions/upload-artifact@v4
        with:
          name: frontend-coverage
          path: ./frontend-v2/coverage/

  coverage:
    runs-on: ubuntu-latest
    needs: test
    steps:
      - uses: actions/checkout@v4
      - uses: actions/download-artifact@v4
        with:
          name: frontend-coverage
          path: ./frontend-v2/coverage
      - name: SonarCloud Scan Frontend
        uses: SonarSource/sonarqube-scan-action@v6
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }} # Needed to get PR information, if any
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN_FRONTEND }}
        with:
          projectBaseDir: frontend-v2
