name: Frontend build

on:
  pull_request:
  push:
    branches:
      - master
      - ui-enhancements
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./frontend-v2
    steps:
      - uses: actions/checkout@v5
      - name: Use Node.js 24.x
        uses: actions/setup-node@v6
        with:
          node-version: "lts/krypton"
          cache: "yarn"
          cache-dependency-path: ./frontend-v2/yarn.lock
      - name: Install dependencies
        run: yarn install --immutable
      - name: Build
        run: yarn build
